nav {
    width: 1400px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: BPG nino mtavruli;
    .logo {
        width: 18%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    ul {
        width: 50%;
        display: flex;
        li {
            list-style: none;
            margin: 20px;
            font-size: 18px;
            color: #FFFFFF;
        }
    }
    .authentication {
        width: 20%;
        button {
            font-family: BPG nino mtavruli;
            margin: 5px;
        }
    }
}