nav {
    width: 100%;
    height: 120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: BPG nino mtavruli;
    transition: 0.5s background-color;
    .logo {
        width: 18%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    ul {
        margin: 0;
        width: 50%;
        display: flex;
        padding-bottom: 10px;
        li {
            list-style: none;
            margin: 20px;
            font-size: 18px;
            color: #FFFFFF;
            cursor: pointer;
            transition: .3s linear;
            padding: 10px 0;
            &:hover {
                color: #bfbfbf;
            }
        }
        .active {
            border-bottom: 1px solid white;
        }
    }
    .authentication {
        width: fit-content;
        button {
            background-color: #3f51b5;
            color: white;
            padding: 10px 20px!important;
            border-radius: 60px!important;
        }
    }
}