.background {
    width: 100%;
    background: linear-gradient(280deg, #6787FE 0%, #0F1B63 100%);
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    font-family: BPG nino mtavruli;
    header {
        margin-top: 70px;
        width: 1000px;
        height: 360px;
        display: flex;
        justify-content: space-between;
        section:first-child {
            width: 60%;
            color: #FFFFFF;
            text-shadow: 2px 2px 2px #1a1a1a;
            h1 {
                font-size: 50px;
                line-height: 1;
                font-family: BPG nino mtavruli;
            }
            button {
                height: 70px;
                padding: 0px 20px;
                margin-top: 20px;
                border-radius: 50px;
                border: 2px solid #FFFFFF;
                color: #FFFFFF;
                background-color: unset;
                background: linear-gradient(to right, white 45%, rgba(0, 0, 0, 0) 55%);
                background-size: 240%;
                background-position: 100%;
                font-size: 25px;
                font-family: BPG nino mtavruli;
                transition: .2s linear;
                cursor: pointer;
                &:hover {
                    color: black;
                    background-position: 0%;
                }
            }
        }
        section:last-child {
            width: 35%;
            background-image: url(../../../../assets/website-design.webp);
            background-size: cover;
        }
    }
}
.content {
    width: 1400px;
    font-family: BPG nino mtavruli;
    margin: 100px auto;
    h1 {
        font-family: BPG nino mtavruli;
        font-size: 50px;
        color: #F44336;
        text-align: center;
        text-shadow: 2px 2px 2px #1a1a1a;
    }
}