<div class="background">
    <div class="authorization">
        <section class="image"></section>
        <form>
            <section class="logIn&SignUp">
                <button mat-raised-button 
                [color]="loginBtn"
                (click)="login()"
                type="button">შესვლა</button>
                <button mat-raised-button 
                [color]="signUpBtn"
                (click)="signUp()"
                type="button">რეგისტრაცია</button>
            </section>
            <section>

            </section>
            <ng-template>
                
            </ng-template>
        </form>
    </div>
</div>