form {
    height: fit-content;
    width: 100%;
    margin-top: 20px;
    section {
        width: 100%;
    }
    .field {
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0px 15px;
        border: 1px solid #96adff;
        border-radius: 60px;
        fa-icon {
            font-size: 18px;
            color: #5673e0;
        }
        input {
            font-size: 15px;
            font-family: cursive;
            outline: none;
            border: none;
            width: 80%;
            height: 80%;
            color: #26004d;
            &::placeholder {
                color: #bfbfbf;
            }
        }
    }
    .errDouble {
        display: flex;
        justify-content: space-between;
    }
    .error {
        height: 25px;
        div {
            width: 50%;
        }
        p {
            margin: 0;
            color: #fe1818;
            font-size: 10px;
        }
    }
    .fieldError {
        border: 1px solid #ff4e4e;
    }
    .firstname_lastname {
        display: flex;
        justify-content: space-between;
        section {
            width: 170px;
        }
    }
    .submitBtn {
        display: flex;
        justify-content: center;
        button {
            width: 80%;
            height: 45px;
            margin: auto;
            font-family: BPG nino mtavruli;
            font-size: 20px;
            border-radius: 60px;
        }
    }
}