<form 
[formGroup]="userRegistracion"
(submit)="submitData()">
    <!-- firstname and lastname -->
    <section class="firstname_lastname">
        <section class="field"
        [ngClass]="{'fieldError': !userRegistracion.get('Firstname').valid && userRegistracion.get('Firstname').dirty}">
            <fa-icon [icon] = "faUser"></fa-icon>
            <input type="text"
            placeholder="სახელი"
            formControlName="Firstname">
        </section>
        <section class="field"
        [ngClass]="{'fieldError': !userRegistracion.get('Lastname').valid && userRegistracion.get('Lastname').dirty}">
            <fa-icon [icon] = "faUser"></fa-icon>
            <input type="text"
            placeholder="გვარი"
            formControlName="Lastname">
        </section>
    </section>
    <div class="error errDouble">
        <div>
            <p 
            *ngIf="userRegistracion.get('Firstname').hasError('required') &&
            userRegistracion.get('Firstname').dirty"
            >ველის შევსება აუცილებელია!</p>
            <p
            *ngIf="userRegistracion.get('Firstname').invalid &&
            userRegistracion.get('Firstname').dirty && 
            !userRegistracion.get('Firstname').hasError('required') || 
            userRegistracion.get('Lastname').hasError('pattern')"
            >მინიმუმ 2 სიმბოლო!</p>
        </div>
        <div>
            <p 
            *ngIf="userRegistracion.get('Lastname').hasError('required') &&
            userRegistracion.get('Lastname').dirty"
            >ველის შევსება აუცილებელია!</p>
            <p
            *ngIf="userRegistracion.get('Lastname').invalid &&
            userRegistracion.get('Lastname').dirty && 
            !userRegistracion.get('Lastname').hasError('required') ||
            userRegistracion.get('Lastname').hasError('pattern')"
            >მინიმუმ 2 სიმბოლო!</p>
        </div>
    </div>
    <!-- username field -->
    <section class="field"
    [ngClass]="{'fieldError': !userRegistracion.get('Username').valid && userRegistracion.get('Username').dirty}">
        <fa-icon  [icon] = "faUser"></fa-icon>
        <input type="text" 
        placeholder="ზედმეტსახელი"
        formControlName="Username">
    </section>
    <div class="error">
        <p 
        *ngIf="userRegistracion.get('Username').hasError('required') &&
        userRegistracion.get('Username').dirty"
        >ველის შევსება აუცილებელია!</p>
        <p
        *ngIf="userRegistracion.get('Username').invalid &&
        userRegistracion.get('Username').dirty && 
        !userRegistracion.get('Username').hasError('required')"
        >მინიმუმ 5 ასობგერა!</p>
    </div>
    <!-- email field -->
    <section class="field"
    [ngClass]="{'fieldError': !userRegistracion.get('Email').valid && userRegistracion.get('Email').dirty}">
        <fa-icon [icon] = "faEnvelope"></fa-icon>
        <input type="email"
        placeholder="იმეილი"
        formControlName="Email">
    </section>
    <div class="error">
        <p 
        *ngIf="userRegistracion.get('Email').hasError('required') &&
        userRegistracion.get('Email').dirty"
        >ველის შევსება აუცილებელია!</p>
        <p
        *ngIf="userRegistracion.get('Email').invalid &&
        userRegistracion.get('Email').dirty && 
        !userRegistracion.get('Email').hasError('required') &&
        userRegistracion.get('Email').hasError('email') ||
        userRegistracion.get('Email').hasError('pattern')"
        >შეიყვანეთ სწორი ელფოსტა!</p>
    </div>
    <!-- password field -->
    <section class="field"
    [ngClass]="{'fieldError': !userRegistracion.get('Password').valid && userRegistracion.get('Password').dirty}">
        <fa-icon [icon] = "faKey"></fa-icon>
        <input type="password"
        placeholder="პაროლი"
        formControlName="Password">
    </section>
    <div class="error">
        <p 
        *ngIf="userRegistracion.get('Password').hasError('required') &&
        userRegistracion.get('Password').dirty"
        >ველის შევსება აუცილებელია!</p>
        <p *ngIf="userRegistracion.get('Password').hasError('pattern')"
        >უნდა შედგებოდეს 8 სიმბოლოსგან და შეიცავდეს: 1 დიდი, 1 პატარა, 1 ციფრი!</p>
        <p>aedaec</p>
    </div>
    <!-- confirm password field -->
    <section class="field"
    [ngClass]="{'fieldError': !userRegistracion.get('ConfirmPassword').valid && userRegistracion.get('ConfirmPassword').dirty}">
        <fa-icon [icon] = "faKey"></fa-icon>
        <input type="password"
        placeholder="დაადასტურეთ პაროლი"
        formControlName="ConfirmPassword">
    </section>
    <div class="error">
        <p 
        *ngIf="userRegistracion.get('ConfirmPassword').hasError('required') &&
        userRegistracion.get('ConfirmPassword').dirty"
        >ველის შევსება აუცილებელია!</p>
        <p
        *ngIf="userRegistracion.get('ConfirmPassword').invalid &&
        userRegistracion.get('ConfirmPassword').dirty && 
        !userRegistracion.get('ConfirmPassword').hasError('required')"
        >მინიმუმ 8 ასობგერა!</p>
    </div>
    <!-- submit button field -->
    <div class="submitBtn">
        <button mat-raised-button color="primary"
        [disabled]="userRegistracion.invalid"
        >რეგისტრაცია</button>
    </div>
</form>