form {
    height: fit-content;
    width: 370px;
    margin-top: 20px;
    .field {
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0px 15px;
        border: 3px solid #6787FE;
        border-radius: 9px;
        fa-icon {
            font-size: 20px;
            color: #5400A8;
        }
        input {
            font-size: 15px;
            font-family: cursive;
            outline: none;
            border: none;
            width: 80%;
            height: 80%;
            color: #26004d;
            &::placeholder {
                color: #bfbfbf;
            }
        }
    }
    .error {
        height: 25px;
    }
    .fieldError {
        border: 3px solid #fe1818;
    }
    .firstname_lastname {
        display: flex;
        justify-content: space-between;
        section {
            width: 170px;
        }
    }
    div {
        display: flex;
        justify-content: center;
        button {
            width: 80%;
            height: 45px;
            margin: auto;
            font-family: BPG nino mtavruli;
            font-size: 20px;
        }
    }
}