<form 
[formGroup]="userRegistracion"
(submit)="submitData()">
    <section class="firstname_lastname">
        <section class="field"
        [ngClass]="{'fieldError': !userRegistracion.get('firstName').valid && userRegistracion.dirty}">
            <fa-icon [icon] = "faUser"></fa-icon>
            <input type="text"
            placeholder="სახელი"
            formControlName="Firstname">
        </section>
        <section class="field">
            <fa-icon [icon] = "faUser"></fa-icon>
            <input type="text"
            placeholder="გვარი"
            formControlName="Lastname">
        </section>
    </section>
    <div class="error">
        <div>ველის შევსება აუცილებელია!</div>
        <div></div>
    </div>
    <section class="field">
        <fa-icon  [icon] = "faUser"></fa-icon>
        <input type="text" 
        placeholder="ზედმეტსახელი"
        formControlName="Username">
    </section>
    <div class="error"></div>
    <section class="field">
        <fa-icon [icon] = "faEnvelope"></fa-icon>
        <input type="email"
        placeholder="იმეილი"
        formControlName="Email">
    </section>
    <div class="error"></div>
    <section class="field">
        <fa-icon [icon] = "faKey"></fa-icon>
        <input type="password"
        placeholder="პაროლი"
        formControlName="Password">
    </section>
    <div class="error"></div>
    <section class="field">
        <fa-icon [icon] = "faKey"></fa-icon>
        <input type="password"
        placeholder="დაადასტურეთ პაროლი"
        formControlName="ConfirmPassword">
    </section>
    <div class="error"></div>
    <div>
        <button mat-raised-button color="primary"
        [disabled]="userRegistracion.invalid"
        >რეგისტრაცია</button>
    </div>
</form>