form {
    width: 100%;
    margin-top: 40px;
    section {
        height: 55px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0px 15px;
        border: 1px solid #96adff;
        margin-bottom: 40px;
        border-radius: 60px;
        fa-icon {
            font-size: 18px;
            color: #5673e0;
        }
        input {
            font-size: 15px;
            font-family: cursive;
            outline: none;
            border: none;
            width: 80%;
            height: 80%;
            color: #26004d;
            &::placeholder {
                color: #bfbfbf;
            }
        }
    }
    div {
        display: flex;
        justify-content: center;
        button {
            width: 100%;
            height: 45px;
            margin: auto;
            font-family: BPG nino mtavruli;
            font-size: 20px;
            border-radius: 60px;
        }
    }
}